{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body style="background-color: antiquewhite;">
    <form action="login" method="post">
        {% csrf_token %}
        <h2> Login Here!!</h2>
        <input type="text" name="username" placeholder="Enter username"><br>
        <input type="text" name="password" placeholder="Enter Passwrod"><br><br>
        <input type="submit" value="Login">
    </form>
    
</body>
</html>