<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Credentials</title>
</head>
<body style="text-align: center; background-color: darkgray;">
    <h1>Please Register Here </h1>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username "><br> 
        <input type="text" name="first_name" placeholder="First Name "><br> 
        <input type="text" name="last_name" placeholder="Last Name "><br> 
        <input type="email" name="email" placeholder="E-mail "><br> 
        <input type="password" name="password" placeholder="Enter password"><br> 
        <input type="password" name="cpassword" placeholder="Confirm Password "><br>
        <input type="submit" value="Click to register">

    </form>
    {% for i in messages %}
    <h2>{{i}}</h2>
    {% endfor %}
</body>
</html>